<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/" method="POST">
      <input name="longUrl" placeholder="Enter URL" required />
      <input type="submit" />
    </form>

    <% if (shortUrl) { %>
    <p>
      Your shortened URL:
      <a href="<%= shortUrl %>"><%= shortUrl %></a>
      <img src="<%= qrc %>">
    </p>
    <% } %>
  </body>
</html>
